/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
} 
header {
  text-align: left;
  background-color: white;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.3);
} */
/*
h4,h1{
  color: white;
  margin: 20px;
}

header h1 {
  color: black;
  font-family: "McLaren", cursive;
  font-weight: 300;
}
.buttons{
  margin-top: 200px;
  align-items: center;
}
button{
  width: 200px;
  height: 40px;
  border-radius: 20px;
}

button:focus{
  outline: none;
  background-color: white;
}


button:hover{
  background-color: tomato;
}

.SignupDiv{
  padding-top: 100px;
  text-align: center;
  color: #fff;
  padding-bottom: 100px;
}

form input,select {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: black;
  width: 300px;
  border-radius: 20px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  /* text-align: center; */
  /* font-size: 18px;
  color: white;
  font-weight: 300;
}

input:focus,select:focus{
  border: 2px solid white;
  outline: none;
}


.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}
textarea{
  background-color: black;
  border: 1px solid white;
  width: 400px;
  height: 200px;
  color: white;
  border-radius: 30px;
  font-size: larger;
} */ 

html,
body {
  margin: 0;
  height: 100%;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.flex-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.flex-col-scroll {
  flex-grow: 1;
  overflow: auto;
  min-height: 100%;
}

.flex-no-shrink {
  flex-shrink: 0;
}
